@model IEnumerable<Cinemonito.Models.Movie>


@{
    ViewBag.Title = "Comprar Boletas";
}


<h1>Lista de peliculas</h1>
@foreach (Cinemonito.Models.Movie movie in Model)
{
    <div class="col-sm-3" style="padding: 15px 15px 15px 15px">
        <div class="card" style="width: 18rem; justify-content: center; display: inline-grid; border-left: 6px solid #ccc!important; border-color: #2196F3!important; background-color: #ddffff!important;">
            <img class="card-img-top" src="./../Images/BigCarrete.Png" alt="Card image cap">
            <div class="card-body">
                <h2 class="text-black font-weight-bold">Título:</h2>
                <p class="card-title">@movie.Name</p>
                <p>
                    <b>Clasificación </b>
                    <br>
                    @movie.Classification
                </p>
                @Html.ActionLink("Comprar", "selectTicketsOption", "Tickets", new { id = @movie.Id }, new { @class = "btn btn-primary" })


                @*<a class="btn btn-primary btn-xl js-scroll-trigger" href="">COMPRAR</a>*@
            </div>
        </div>
    </div>
}
