@model IEnumerable<Cinemonito.Entitys.MultiplexEntity>


<h1>Lista de Multiplex</h1>


<div class="row">
    @foreach (Cinemonito.Entitys.MultiplexEntity item in ViewBag.listMultiplex)
    {
        <div class="col-sm-3" style="padding: 15px 15px 15px 15px">
            <div class="card" style="width: 18rem; justify-content: center; display: inline-grid; border: 6px solid #ccc!important; border-color: #55f321!important; background-color: #abeaa4!important;>
                <img class="card-img-top" src="./../Images/BigCarrete.Png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-black font-weight-bold">Multiplex:</h2>
                    <p class="card-title">@item.name</p>
                    <p>
                        <b>--!-- </b>
                        <br>
                    </p>
                 
                    @Html.ActionLink("Esté multiplex", "selectRoom", "Tickets", new { idMovie = item.idMovie, idRoom = item.idRoom }, new { @class = "btn btn-success" })

                    @*<a class="btn btn-primary btn-xl js-scroll-trigger" href="">COMPRAR</a>*@
                </div>
            </div>
        </div>
    }
</div>




    <div class="row">
        @Html.ActionLink("Regresar", "selectTicketsOption")
    </div>
